# Gradle
gradle
.gradle

# IntelliJ
.idea

# general
build
run
run-data
run-server
src/generated/resources/.cache

# Visual Studio Code
.vscode/
.eclipse/
docs/
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore markdown files in root except README and CONTRIBUTING
/*.md
!/[Rr][Ee][Aa][Dd][Mm][Ee].[Mm][Dd]
!/[Cc][Oo][Nn][Tt][Rr][Ii][Bb][Uu][Tt][Ii][Nn][Gg].[Mm][Dd]
!WHY_FORK_BLOODMAGIC.md
!MODPACK_MAKERS.md
!README.md
!NEOVITAE_API.md

# Ignore Python files as they are generally untility scripts unrelated to the project
*.py

*.csv

gradlew

gradlew.bat
run-gametest/
metadata/dungeon_mobs.md

run-client.log
